div.hero-unit {
  background-image: url(../images/keyboard.jpg);
  background-size: cover;
  color: white;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
  text-align: center;
}

div.portrait {
  background-image: url(../images/photo.jpg);
  background-size: cover;
  background-position: center top;
  height: 300px;
}

.navbar .brand {
  color: black;
  font-weight: bold;
}

#testimonial blockquote {
  margin-bottom: 0px;
}

#contact {
  text-align: center;
}

#contact dt {
  font-weight: normal;
}

#contact dd {
  font-weight: bold;
  font-size: 2em;
  line-height: 1.2em;
  margin-bottom: 10px;
}
